* {
	box-sizing: border-box;
}

body{
	background-color: #333;
	color: #FFBE7E;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Arial, Roboto, "sans-serif";
	min-height: 100vh;
	margin: 0;
}
#canvas {
	background: #7D7D7D;
	border-radius: 5px;
}
#source {
	display: none;
}